
@{
    ViewData["Title"] = "Create post";
}

<div class="col-sm-4">
    <div class="container-fluid">
        @using (Html.BeginForm("Upload", "Posts", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <input class="form-control" name="title" id="title" placeholder="Title:" />
            </div>
            <div class="row">
                <input type="file" name="image" class="input-files btn btn-default" id="file-input" />
                <input type="text"
                       name="youTubeLink"
                       style="display: none;"
                       class="form-control"
                       id="youtube-input"
                       placeholder="YouTube video link..." />
            </div>
            <div class="row">
                <div class="col-md-2">
                    <input type="checkbox" name="isNSFW" id="isNSFW" />
                </div>
                <div class="col-md-10">
                    <label for="isNSFW">
                        Not safe for work <br />
                        (Graphic content or nudity)
                    </label>
                </div>
            </div>
            <div class="row">
                <button type="submit" name="button" class="btn btn-primary">
                    <span class="fa fa-upload"></span>
                    Upload
                </button>
                <button type="button" class="btn btn-default" id="button-play">
                    <span class="fa fa-play"></span>
                </button>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('#button-play').click(function () {
                var that = $(this);
                $('#file-input').fadeOut('slow', function () {
                    $('#youtube-input').fadeIn('slow');
                    that.slideUp('slow');
                });
            });
        });
    </script>
}